.title-amount{
    padding-block: 5px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding-inline: 5px;
    margin-block: 3px;
    border-radius: 5px;
}