input{
    width: 10rem;
    padding-inline: 5px;
    padding-block: 3px;
    margin-right: 5px;
}

button{
    padding-inline: 5px;
    padding-block: 3px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

p{
    font-size: 13px;
}

form{
    margin-top: 10px;
}